*{
    margin : 0%;
    padding: 0%; 
    overflow-x: hidden;
}
header{
    background: linear-gradient(110deg,rgb(242, 242, 242) 45% ,rgb(0, 0, 0) 32.5%),rgb(0, 0, 0) 32.5%;
}
a{
    text-decoration: none;
    color: inherit;
}
/*nav---------------------------------------------------*/
nav {
    display: flex;
    justify-content: space-around;
}
#menu_nav{
    width: 30em;
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top:0.3em;
}
#logo p{
    color: black ;
    padding:0.8em;
    margin-right: 10em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    border-radius: 40px;
}
#menu_nav li  {
    color: whitesmoke;
    padding:0.8em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    border-radius: 40px;
}
#logo{
    padding-left: 4em;
    padding-top:0.3em;
}
/*HOVER NAV*/

#logo p:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}

#menu_nav li:hover{
    background-color: rgb(242, 242, 242);
    color:  rgb(0, 0, 0);
}

/*painel01---------------------------------------------------*/
.painel01{
    overflow-y: hidden;
    width: 100vw;
    height: 90vh;
    align-items: center;
    display:flow-root;  
}
.container01{
    float: left;
    width:50vw;
    height: 100vh;
    justify-content: center;
}
.container02{
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
.container02 img{
    width:350px;
    
}
.text_presentation{
    width:40%;
    margin-top:30%;
    margin-left:30%;
    font-family:'Josefin Sans', sans-serif;
}
.text_presentation .text_01{
    font-size:30px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
}
.text_presentation .text_02{
    padding-left:20%;
    font-size:25px;
    font-weight: 400;
    font-style: normal;
    color: #737373;
}
.text_presentation h1{
    padding:0;
    font-size:50px;
    font-weight: 400;
}
.list_presentation{
    margin-top:5%;
    align-items: center;
    margin-left: 30%;
    width: 40%;
}
.list_presentation ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.list_presentation ul li{
    padding-left: 10px;
    background-color:whitesmoke;
}
.list_presentation ul li img{
    width: 40px;
    box-shadow: 5px 10px 8px 10px #888888;
}
/*painel02---------------------------------------------------*/
#painel02{
    width: 100vw;
    height: 50vh;
    background:#1D1D1D;
    background-attachment: scroll;
}
.about_me_div{
    width:35%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3%;
}
.about_me_title{
    padding-left: 45px;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-weight:300;
    font-size: 90px;
    border:  #E8E8E8 solid 5px;
    border-top: none;
    border-bottom: none;
    border-radius:0px 30px 0px 30px;
}
.content_about_me{
    width:70%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
}
.content_about_me p{
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-weight:100;
    font-size: 30px;
    border:  #E8E8E8 solid 5px;
    border-bottom: none;
    border-top: none;
    border-radius:20px;
}
/*painel03---------------------------------------------------*/
.painel03{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(110deg,white 45% ,yellow, yellow 32.5%);
}
.p3_container01{
    width: 40%;
    height: 100%;
}
.img_book{
    width:250px;
    position: relative;
    left: 15%;
    top: 15%;
    transform: rotate(20deg);
    
}
.p3_container02{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.p3_box{
    background-color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}


